-# nav
.wide-wrap.navbar
  %p.nav-header Some FIFA tournament
  %a.nav-item{href: "#conditionsinfo"}
    %i.fa.fa-comment-o
    %p Conditions
  %a.nav-item{href: "#organisationinfo"}
    %i.fa.fa-calendar-check-o
    %p Brackets & Schedule
  %a.nav-item{href: "#playerinfo"}
    %i.fa.fa-user
    %p Players
  %a.nav-item{href: "#tournamentinfo"}
    %i.fa.fa-bar-chart
    %p Tournament Stats

-# header section
.wide-wrap.header-section
  .thin-wrap
    %h1.jumbotron
      Header

-# rules section
.thin-wrap#conditionsinfo
  %h1 Conditions
  %h2 Prize Money
  %p
    Nam percipit delicatissimi in. Dolor ubique mei in, eu reque dolore conceptam quo, diceret consectetuer ad pri. Homero meliore deleniti nec an, nam ea quot graecis. Invidunt partiendo est ex, nec ne unum vero, sumo neglegentur definitionem eos ad. Ut pri oporteat honestatis dissentiet, animal tacimates torquatos eos eu. Mutat suavitate urbanitas vel ea, ne dictas appellantur referrentur eam, ad elit suscipit eam. Ut sit docendi accusam.
  %hr/
  %h2 Rules
  %p
    Nam percipit delicatissimi in. Dolor ubique mei in, eu reque dolore conceptam quo, diceret consectetuer ad pri. Homero meliore deleniti nec an, nam ea quot graecis. Invidunt partiendo est ex, nec ne unum vero, sumo neglegentur definitionem eos ad. Ut pri oporteat honestatis dissentiet, animal tacimates torquatos eos eu. Mutat suavitate urbanitas vel ea, ne dictas appellantur referrentur eam, ad elit suscipit eam. Ut sit docendi accusam.
  %hr/
  %h2 Players
  %p
    Nam percipit delicatissimi in. Dolor ubique mei in, eu reque dolore conceptam quo, diceret consectetuer ad pri. Homero meliore deleniti nec an, nam ea quot graecis. Invidunt partiendo est ex, nec ne unum vero, sumo neglegentur definitionem eos ad. Ut pri oporteat honestatis dissentiet, animal tacimates torquatos eos eu. Mutat suavitate urbanitas vel ea, ne dictas appellantur referrentur eam, ad elit suscipit eam. Ut sit docendi accusam.
  %hr/

-# brackets section
.wide-wrap#organisationinfo
  .thin-wrap
    %h1 Organisation
  .thin-wrap
    %h2 Schedule
  #schedule-container.thin-wrap
    %h4 Last two games
    .schedule-item.si1
    .schedule-item.si2
    %h4 Next four games
    .schedule-item.si3
    .schedule-item.si1
    .schedule-item.si2
    .schedule-item.si3
    %h2 Current Brackets
  #bracket-container  

-# players section
.thin-wrap#playerinfo
  %h1 Players
  #players-container.flex-container.wrap
    .player-item.p1
      %h2.rank 1
      %h3 H0L0
    .player-item.p2
      %h2.rank 2
      %h3 H0L0
    .player-item.p3
      %h2.rank 3
      %h3 H0L0
    .player-item.p1
      %h2.rank 4
      %h3 H0L0
    .player-item.p2
      %h2.rank 5
      %h3 H0L0
    .player-item.p3
      %h2.rank 6
      %h3 H0L0
    .player-item.p1
      %h2.rank 7
      %h3 H0L0
    .player-item.p2
      %h2.rank 8
      %h3 H0L0
    .player-item.p3
      %h2.rank 9
      %h3 H0L0
    .player-item.p1
      %h2.rank 10
      %h3 H0L0
    .player-item.p2
      %h2.rank 11
      %h3 H0L0
    .player-item.p3
      %h2.rank 12
      %h3 H0L0
    .player-item.p1
      %h2.rank 13
      %h3 H0L0
    .player-item.p2
      %h2.rank 14
      %h3 H0L0
    .player-item.p3
      %h2.rank 15
      %h3 H0L0
    .player-item.p1
      %h2.rank 16
      %h3 H0L0
    .player-item.p2
      %h2.rank 17
      %h3 H0L0
    .player-item.p3
      %h2.rank 18
      %h3 H0L0
    .player-item.p1
      %h2.rank 19
      %h3 H0L0
    .player-item.p2
      %h2.rank 20
      %h3 H0L0
    .player-item.p3
      %h2.rank 21
      %h3 H0L0
    .player-item.p1
      %h2.rank 22
      %h3 H0L0
    .player-item.p2
      %h2.rank 23
      %h3 H0L0
    .player-item.p3
      %h2.rank 24
      %h3 H0L0
    .player-item.p1
      %h2.rank 25
      %h3 H0L0
    .player-item.p2
      %h2.rank 26
      %h3 H0L0
    .player-item.p3
      %h2.rank 27
      %h3 H0L0
    .player-item.p1
      %h2.rank 28
      %h3 H0L0
    .player-item.p2
      %h2.rank 29
      %h3 H0L0
    .player-item.p3
      %h2.rank 30
      %h3 H0L0
-# tournament stats section
.wide-wrap#tournamentinfo
  .thin-wrap
    %h1 Tournament Highlights
  #tournament-highlights-container.wide-wrap
    .schedule-item.si1
    .schedule-item.si2
    .schedule-item.si3
    .schedule-item.si1
    .schedule-item.si2
    .schedule-item.si3

-# footer section

:javascript
  $('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
  });