<% content_for :title do %>Instant-search<% end %>
<div>
  <div id="test" data-spy="affix" data-offset-top="300">
    <div id="test-fixed">
      <div class="">
        <div class="wrap">
              <h1 class="neg">Find Pro Player Stats</h1>
              <div class="m-center">
                <input name="email" placeholder="Player name, champion name" id="user_email" autocomplete="off" spellcheck="false" class="instant-search-form ps-search" />
                <div class="search-terms">
                </div>
              </div>
          </div>
        </div>
        <a href="http://pandascore.co" target="_blank" id="pandascore-dot-co-link"> <h4 class="sponsor-wrap neg"> by PandaScore.co </h4> </a>
    </div>
  </div>

  <!-- <div id="header">

    <div class="ps-head dot-overlay">
        <div class="wrap">
            <h1 class="neg">Find Pro Player Stats</h1>
            <div class="m-center">
              <input name="email" placeholder="Player name, champion name" id="user_email" autocomplete="off" spellcheck="false" class="instant-search-form ps-search" />
              <div class="search-terms">
              </div>
            </div>
        </div>
        <div class="bg-img img0 rotating-item"> </div>
        <div class="bg-img img1 rotating-item"> </div>
        <div class="bg-img img2 rotating-item"> </div>
        <div class="bg-img img3 rotating-item"> </div>
        <div class="bg-img img4 rotating-item"> </div>
        <div class="bg-img img5 rotating-item"> </div>
        <div class="bg-img img6 rotating-item"> </div>
        <a href="http://pandascore.co" target="_blank" id="pandascore-dot-co-link"> <h4 class="sponsor-wrap neg"> by PandaScore.co </h4> </a>
    </div>
  </div> -->

  <div class="ps-body" data-spy="affix" data-offset-top="300">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
          <tr>
              <th class="header-text">Player</th>
              <th class="header-text">Champion</th>
              <th class="header-text">Team</th>
              <th class="header-text" style="width: 120px">Tournament</th>
              <th class="header-text" style="width: 60px" >K/D/A</th>
              <th class="header-text">GPM</th>
              <th class="header-text">Nb pick</th>
              <th class="header-text">Win%</th>
              <th class="header-text">Dmg%</th>
              <th class="header-text">Gold%</th>
              <th class="header-text">Dmg Taken%</th>
              <th class="header-text">Kill%</th>
          </tr>
      </thead>
      <tbody id="hits">
      </tbody>
    </table>
  </div>

  <div style="height: 1000px"></div>
  </div>
</div>

<script type="text/javascript">


  // algolia search

  var algoliaData;

  $(document).ready(function() {

      var index = new AlgoliaSearch('<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>', '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>').initIndex('<%= Player.index_name %>');

      function search(v) {
          index.search(v, function(success, content) {
              if (!success) {
                  console.log("Error: " + JSON.stringify(content));
                  return;
              }

            algoliaData = content["hits"];

            // if table exists, update data
            table = document.getElementById("DataTables_Table_0");
            if (table !== null) { update_dataTables() }

          }, { hitsPerPage: 20 });
      }

      $('input#user_email').change(function() {
          search($(this).val());
      }).keyup(function(e) {
          if (e.which == 27) {
              $(this).val('').change();
              return;
          }
          search($(this).val());
      }).focus(function(){
          $(this).attr("placeholder", "");
      }).blur(function(){
          $(this).attr("placeholder", "SoaZ with all champs ; Faker with LeBlanc");
      }).focus();
      $('.search-terms a').click(function(e) {
          $("input#user_email").val($(this).text()).change().focus();
      });
      search('');

  });

  // dataTables update

  function update_dataTables () {
    table = $('#DataTables_Table_0').DataTable();
    table.clear().draw();
    table.rows.add(algoliaData).draw();
  }

  // initialize dataTables with 100ms delay (time for algolia to fetch initial list), un-focus from input

  $(document).ready(function() {
    set_pageTitle();
    setTimeout(function() { initialize_dataTables(algoliaData); set_exportButton_class() }, 100);
    $('input').blur();
  });

  function initialize_dataTables (data) {
    $('.dataTables-example').dataTable({
      "sDom": 'W<"clear">rtpB',
      "oColumnFilterWidgets": {"aiExclude": [ 2,3,4,5,6,7,8,9,10,11,12 ]},
      "tableTools": {
        "sSwfPath": "../assets/dataTables/swf/copy_csv_xls_pdf.swf"
      },
      buttons: [
        {
          extend: 'collection',
          text: 'Export',
          buttons: [
            'copy',
            'excel',
            'csv',
            'pdf',
            'print'
          ]
        }
      ],
      "aaData": data,
      "columns": [
        { "data": "player_name" },
        { "data": "champion_name" },
        { "data": small_team_name },
        { "data": small_tournament },
        { "data": getKDA },
        { "data": "avg_gpm"},
        { "data": "nb_games_played"},
        { "data": "winrate"},
        { "data": "pct_dmg_dealt_to_champions"},
        { "data": "pct_gold_earned"},
        { "data": "pct_dmg_taken"},
        { "data": "pct_kills"}
      ]
    })
  };

  function small_team_name(data, type, dataToSet) {
    return "<span class='small'>" + data.team_name + "<span>";
  }

  function getKDA(data, type, dataToSet) {
    return data.avg_kill + " / " + data.avg_death + " / " + data.avg_assists;
  }

  function small_tournament(data, type, dataToSet) {
    return "<span class='small'>" + data.tournament_name + "<span>";
  }

  // add specific id to export-button
  function set_exportButton_class () {
    var exportButton;
    exportButton = (document.getElementsByClassName('dt-button ui-button ui-state-default ui-button-text-only buttons-collection')[0]);
    exportButton.id = "export-link";
  }

  // change page title if window is not in focus
  function set_pageTitle () {
    $(window).blur(function(){
        document.title = "Baby don't leave me";
      });
      $(window).focus(function(){
        document.title = "PandaScore Player Finder";
      });
  }

  analytics.page('Player Finder Landingpage', {
    category: 'Product',
    goal: 'Let people find pro player information',
    design: 'Dark',
    content: 'Table'
  });

  var pandascore_link = document.getElementById('pandascore-dot-co-link');
  analytics.trackLink(pandascore_link, 'click link to Pandascore.co', {
  });

</script>